version: "3.9"
services:
  postgresnode:
    environment:
      - POSTGRES_USER=express
      - POSTGRES_PASSWORD=express
      - POSTGRES_DB=express
    container_name: postgresnode
    image: "postgres:15.0"
    ports:
      - "5432:5432"
  backend:
    container_name: nodeapibackend
    build: ./app
    image: nodeapibackend:v1
    volumes:
      - ./app:/usr/app
    ports:
      - "5002:5002"
    depends_on:
      - "postgresnode"
  grader-gateway:
    container_name: gradergateway
    build: ./grader-gateway
    image: gradergateway:v1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "7777:7777"
  worker:
    container_name: backendworker
    build: ./worker
    image: backendworker:v1
    depends_on:
      - "postgresnode"
      - "grader-gateway"


#cd nodeapi
#docker compose build
#docker compose up --attach backend